.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.navbuttonright {

}

.masthead {
  background-image: linear-gradient(135deg, #231437 0%, #2c385e 50%, #336e6b 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center top;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 72px;
  min-height: 660px;
}

.bckgrnd {
  max-height: 60vh;
}