.page {
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: column;
  background-color: black;
  overflow: hidden;
  font-family: 'Graphik', Helvetica, Arial, sans-serif;
}

div {
  display: block;
}

html {
  box-sizing: border-box;
  height: 100%;
}

.navbuttonright {
  margin-left: 90%; 
  position: relative;
}

.masthead {
  background-image: linear-gradient(135deg, #08141F 0%, #0D3640 50%,  #0F495C 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center top;
  text-align: center;
  position: relative;
  padding-top: 72px;
  justify-content: center;
  width: 100%;
  height: 70%;
  align-items: flex-start;
  min-width: 600px;
}

.bckgrnd {
  top: 0;
  left: 0;
  height: 90vh;
  width: 100%;
  margin-bottom: 15%;
  position: relative;
  background-size: cover;
}

.prelogo {
  color: #2DBD9D;
  position: absolute;
  margin-top: 8%;
  font-size: 13px;
  align-self: center;
}

.logo {
  position: absolute;
  align-self: center;
  height: 88px;
  width: 265px;
  margin-top: 10.68%;

}
